*.iml
*.iws
*.ipr
.idea/
.gradle/
local.properties

*/build/
secret.gradle

*~
*.swp
.DS_Store

com_crashlytics_export_strings.xml

secret.gradle
rebuild.keystore

test_servers
screenshot_*

Rebuild/src/product/java/rejasupotaro/rebuild
build
